.cart {
  background-color: #eaeded;
  padding: 2rem 0.5rem;
  display: flex;
  justify-content: center;

  &__title{
    font-weight: 500;
    font-size: 2rem;
  }
  &__wrapper {
    display: flex;
    width: 100%;
    //justify-content: center;
    max-width: 85rem;
  }

  &__container {
    flex-grow: 8;
    margin: 5px;
    padding: 1.5rem;
    padding-bottom: 5rem;

    background-color: white;
  }
  &__divider {
    border: 0.3px solid rgb(179, 179, 179);
  }
  &__sub {
    font-size: 1.5rem;
    font-weight: 400;
  }
  &__total {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__subtotal {
    float: right;
  }
  &__checkout {
    background-color: white;
    flex-grow: 1;
    max-height: 220px;
    margin-right: 3rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: start;
    padding: 1.5rem 1rem;
  }
  &__checkout-button {
    cursor: pointer;
    width: 100%;
    background-color: #ffd815;
    border: solid 0px white;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #888888;
    margin: 1rem 0rem;
  }
  &__check {
    width: 25px;
    padding: 5px;
    margin-bottom: 100%;
  }
  &__free {
    max-width: 250px;
  }
  &__qualify {
    word-wrap: break-word;
    display: inline;
    color: #186350;
    font-weight: 500;
    line-height: 0px !important;
  }
}

.link {
  cursor: pointer;
  color: #307384;
  font-weight: 500;
}

.check-meta {
  display: inline;
}
