<mat-toolbar class="toolbar">
  <a routerLink="/">
    <img src="/assets/images/amazon.png" class="toolbar__amazon-logo" />
  </a>
  <div class="toolbar__address">
    <img src="/assets/images/location.svg" class="toolbar__location-logo" />
    <div>
      <h3 class="toolbar__address-label">Delivery to Sarbjot</h3>
      <h1 class="toolbar__value">Delta V4C 2Y6</h1>
    </div>
  </div>
  <div class="toolbar__search-container">
    <input class="toolbar__search" type="text" placeholder="Search Amazon" />
    <button class="toolbar__search-icon" mat-icon-button disabled>
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div>
    <h3 class="toolbar__account-label">Hello, Sarbjot</h3>
    <h1 class="toolbar__value">Account & Lists</h1>
  </div>
  <div>
    <h3 class="toolbar__returns-label">Returns</h3>
    <h1 class="toolbar__value">& Orders</h1>
  </div>
  <a routerLink="/cart">
    <div class="toolbar__cart-container">
      <div class="toolbar__cart-ref">
        <div class="toolbar__cart-quantity">{{ cartItemCount$ | async  }}</div>
        <img src="/assets/images/cart.svg" class="toolbar__cart-image" />
      </div>
      <h2 class="toolbar__cart-value"></h2>
    </div>
  </a>
</mat-toolbar>
