<div class="footer">
  <div class="footer__directories">
    <div class="footer__column">
      <a class="footer__column-header">Get to Know Us</a>
      <a class="footer__column-value">Careers</a>
      <a class="footer__column-value">Amazon and Our Planet</a>
      <a class="footer__column-value">Investor Relations</a>
      <a class="footer__column-value">Press Release</a>
      <a class="footer__column-value">Amazon Science</a>
    </div>
    <div class="footer__column">
      <a class="footer__column-header">Make Money with Us</a>
      <a class="footer__column-value">Sell on Amazon </a>
      <a class="footer__column-value">Become an Affiliate</a>
      <a class="footer__column-value">Protect and Build Your Brand</a>
      <a class="footer__column-value">Sell on Amazon Handmade</a>
      <a class="footer__column-value">Advertise Your Products</a>
      <a class="footer__column-value">Independantly Publish with Us</a>
      <a class="footer__column-value">Host an Amazon Hub</a>
    </div>
    <div class="footer__column">
      <a class="footer__column-header">Amazon Payment Producs</a>
      <a class="footer__column-value">Amazon.ca Rewards Mastercard</a>
      <a class="footer__column-value">Shop with Points</a>
      <a class="footer__column-value">Reload Your Balance</a>
      <a class="footer__column-value">Amazon Currency Converter</a>
      <a class="footer__column-value">Gift Cards</a>
    </div>
    <div class="footer__column">
      <a class="footer__column-header">Les Us Help You</a>
      <a class="footer__column-value">Shipping Rates & Policies</a>
      <a class="footer__column-value">Amazon Prime</a>
      <a class="footer__column-value">Returns Are Easy</a>
      <a class="footer__column-value">Manage your content and Devices</a>
      <a class="footer__column-value">Customer Service</a>
    </div>
  </div>
  <hr class="footer__line" />
  <div class="footer__logo-container">
    <img class="footer__logo" src="/assets/images/amazon-footer.png" />
  </div>
</div>
